%nav
  %ul
    - @about_sections.each do |section|
      = about_sub_link section.nav, section, @about_section
    = link_to 'Team', page_team_path, class: current_page?(page_team_path) ? 'active' : ''
