-# %h2 Kids
-# = project
.gallery
  - project.kids.each do |kid|
    .item
      - if kid.images.count > 0
        = image_tag attachment_url(kid.images.first, :file, :fit, 300, 300, format: "jpg")
      = kid.name
