%section.splash
  #slider
    - kids.each do |kid|
      - if kid.images.count > 0
        .cell
          = image_tag attachment_url(kid.images.first, :file, :fit, 1000, 1000, format: "jpg")
          %h2
            = kid.name
            %small= kid.short
  %hr
