%section.who-we-are
  Art Meets Education ist ein Projekt, welches Bildung durch Fotografie ermöglicht. Kinder bekommen die
  Möglichkeit, eigenständig Kunst zu produzieren, um darin ihre Gefühle, Erlebnisse und ihr Leben festzu-
  halten, um dadurch finanzielle Mittel zu schaffen, mit der sie ihre Bildung finanzieren zu können.
  %br
  = link_to 'Mehr Infos …', '#'
%hr
