%section.about
  %aside
    %h1 Über AME
    %nav
      %ul
        - @about_sections.each do |section|
          = about_sub_link section.nav, section, @about_section
  %article
    = @about_section.content
