%section.about
  %aside
    %h1 Über AME
    %nav
      %ul
        %li= link_to 'etwas', '#'
        %li= link_to 'etwas', '#'
        %li= link_to 'etwas', '#'
        %li= link_to 'etwas', '#'
  %article
    text
