%section.exhibit
  %aside
    %h1= t('nav.exhibition')
    %nav
      %ul
        - @exhibits.each do |exhibit|
          = exhibit_sub_link exhibit.location, exhibit, @exhibit

  %article
    = markdown(@exhibit.content)
    = image_tag attachment_url(@exhibit, :info_image, format: "jpg")
