%h1
  Art Meets Education Headline
  %small Kurze Beschreibung, was Art Meets Education macht

= render 'sections/splash', kids: @featured_kids
= render partial: 'sections/who_we_are'
= render 'sections/home_projects', kids: @featured_kids
