%h1
  Art Meets Education Headline
  %small Kurze Beschreibung, was Art Meets Education macht

= render partial: 'sections/splash'
= render partial: 'sections/who_we_are'
= render partial: 'sections/home_projects'
