%section.press
  %aside
    %h1= t('nav.press')
    %nav
      %ul
        - @press_sections.each do |section|
          = press_sub_link section.nav, section, @press_section
  %article
    = markdown(@press_section.content)
