body
  +outer-container(100%)
  padding: $base-spacing $base-spacing*2
  height: 100%
  margin-top: 175px
  #bg-color
    +bg_transition
    position: fixed
    z-index: 0
    left: 0
    top: 0
    background-color: $bg-blue
    width: 100%
    height: 100%
  .page
    position: relative
    z-index: 1
