section.home-projects
  margin: $base-spacing 15%
  +media($mobile)
    margin: $base-spacing 0

section.project, section.about, section.team, section.kid, section.exhibit, section.donate, section.partners
  +outer-container(100%)
  aside
    +media($mobile)
      +span-columns(4)
      +omega()
    +media($tablet)
      +span-columns(6)
      +omega()
    +media($large)
      +span-columns(3)
  article
    +media($mobile)
      +span-columns(4)
      +omega()
    +media($tablet)
      +span-columns(6)
      +omega()
    +media($large)
      +span-columns(9)
      +omega()
  aside
    +media($mobile)
      h1
        margin-bottom: $small-spacing
    nav
      margin-bottom: $base-spacing

  article
    margin-top: $base-spacing*1.4
    +media($mobile)
      margin-top: 0px
    h1, h2, h3, h4
      &:first-child
        margin-top: 0px

section.press, section.contact
  aside
  article
    +media($mobile)
      +span-columns(4)
    +media($tablet)
      +span-columns(6)
    +media($large)
      +span-columns(8)
      +shift(2)
    margin-top: $base-spacing

section.splash
  .cell
    width: 100%
  img
    width: 100%
    display: block
  h1
    margin-top: $base-spacing

section.who-we-are
  display: flex
  flex-flow: wrap row
  margin: $base-spacing 15%
  +media($mobile)
    margin: $base-spacing 0
    padding-right: $base-spacing
  a
    margin-top: $base-spacing/2

section.kid
  .prev_next
    color: rgba($dark-gray, 0.3)
    .close
      margin: 0 $small-spacing
  article
    margin-top: $base-spacing
    img
      width: 100%
      margin-bottom: $base-spacing

.text
  +media($mobile)
    padding-right: $base-spacing
