header
  display: flex
  margin-bottom: $base-spacing
  nav
    flex: 1
    margin-left: $base-spacing * 6
    ul
      height: 100%
      display: flex
      align-items: center
      justify-content: space-between
      li
        display: inline-block
