.team
  .member
    +outer-container()
    vertical-align: text-top
    margin-bottom: $base-spacing
    .profile
      +span-columns(3)
      img
        width: 100%
        height: auto
        display: block
    .info
      +span-columns(9)
      +omega()
