@import url('https://fonts.googleapis.com/css?family=Rubik')
@import 'bourbon'
@import 'neat'
@import 'base/base'
@import 'components/hr'
@import 'font-awesome'

// general
body
  background-color: white
  padding: $base-spacing

// header and nav
header
  display: flex
  flex-flow: row
  justify-content: space-between
  align-items: center
  margin-bottom: $base-spacing
  img
    width: 60px
    height: 60px
  nav
    ul
      li
        display: inline-block
        margin-left: $base-spacing
section
  margin: $base-spacing 0

a:hover
  color: $bg-red

// Forms
.kid-edit-image
  display: inline-block
  position: relative
  i
    position: absolute
    top: 0
    left: 0
    background-color: red
    color: white
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px

// Typography
h2
  margin: $small-spacing 0
