%footer
  .content
    %hr
    %ul
      %li
        = t('footer.contact')
        .break
        = link_to 'Facebook', 'https://www.facebook.com/artmeetseducation/', target: '_blank'
        = link_to 'Instagram', 'https://www.instagram.com/artmeetseducation/', target: '_blank'
      %li
        ©
        = Time.now.year
